.studentdb {
  margin: 0 1%;
}

.studentdb {
  /* background-color: slateblue; */
  height: auto;
}

/* li {
  list-style: none;
  display: flex;
  justify-content: space-between;
} */

table {
  width: 100%;
  background-color: silver;
}

th {
  text-align: left;
  border-left: 1px solid;
  border-right: 1px solid;
}
td {
  padding: 1.5rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.table-btn {
  width: 50px;
}
.table-btn > button {
  width: 100%;
}
