.input-container{
    width: 55%;
    display: flex;
/* background-color:tan; */
    align-items:center;
    justify-content: space-around;
    height: 100%;
}
.input-container > label{
    width: 30%;
}

.input-container>input{
   padding: 1.2rem .5rem;
}
.input-container>select{
    height: 2.4rem;
}